{
  "Comment": "TKG Record for CNAME",
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "FQDN",
        "Type": "CNAME",
        "TTL": 300,
        "ResourceRecords": [
          {
            "Value": "LBHOST" 
          }
        ]
      }
    }
  ]
}
